@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@700&display=swap');

body {
  background: #fafafa;
}

.navbar {
  padding: 0 5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  height: 6rem;
}

.navbar h1 a {
  text-decoration: none;
  color: #0290ff;
  font-size: 1.875rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin-right: 2rem;
}

.navbar li {
  margin-right: 5rem;
}

.navbar li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #121212;
  font-size: 0.8rem;
  letter-spacing: 1.9px;
}

.circle {
  border: 1px solid #e8e8e8;
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-user {
  margin: 0 auto;
  color: #0290ff;
  font-size: 20px;
}

.main {
  margin: 0 5rem;
}

.bookContain {
  background-color: #fff;
  padding: 2rem 5rem;
  margin: 2rem;
}

.category {
  color: #121212;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  opacity: 0.5;
  font-size: 0.85rem;
  margin-bottom: 0;
}

.bookName {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
  color: #121212;
}

.author {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0;
  font-family: 'RobotoSlab', serif;
  font-size: 0.875rem;
  font-weight: 300;  
  color: #4386bf;
}

.btns {
  margin-top: 1rem;
  display: flex;  
}

.infoBtns {
  border: none;
  background: #fff;
  border-right: solid 1px #e8e8e8;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  padding: 0 1rem;
}

.infoBtns:first-child {
  padding-left: 0;
}

.infoBtns:last-child {
  border: none;
}

.main form {
  display: flex;
  flex-direction: column;
}

.main form input {
  margin-top: 1rem;
}

.main form button {
  margin-top: 2rem;
}
